@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #e0e6ed;
    background-color: #121212; /* Updated to a deep black */
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

header {
    background: #1a1a1a; /* Dark black for header */
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

.btn-whatsapp {
    background-color: #34d399; /* Bright green for contrast */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.btn-whatsapp:hover {
    background-color: #2ca56c; /* Slightly darker green */
}

/* Hero Section */
#hero {
    padding: 100px 50px;
    text-align: center;
    background-color: #2a2a2a; /* Dark black */
    color: #fff;
}

#hero h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #34d399; /* Accent green */
}

#hero p {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #e0e6ed; /* Light gray for readability */
}

.btn-primary {
    background-color: #34d399; /* Accent green */
    color: #fff; /* Black text for contrast */
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #2ca56c;
}

/* Services Section */
.bg-light {
    padding: 60px 20px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: -100px;
}

.service-item {
    background: #f8f8f8; /* Bright green for services */
    border: 5px #34d399 solid;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: #181818;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
    /* background: #2ca56c; */
}

.service-icon {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #121212; /* Black icon for contrast */
}

.service-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #121212; /* Black text for contrast */
}

.service-item p {
    font-size: 1rem;
    color: #000; /* Lighter gray for readability */
}



/* Footer */
footer {
    text-align: center;
    color: #d1d5db; /* Light gray */
}
